<div class="topcoat-navigation-bar">
    <div class="username">
      <input onclick="this.select();" type="text" value="Anonyme" ng-model="username"></input> <img alt="" src="css/images/user.svg" width="13" height="13">
    </div>
    <div class="topcoat-navigation-bar__item center">
      <h1 class="topcoat-navigation-bar__title">Live Annotation</h1>
    </div>
</div>
<div class="entry-bar">
  <form ng-submit="submit()">
    <input ng-model="annotation" type="text" value="" placeholder="Entrez votre commentaire" class="topcoat-text-input--large" ng-keydown="reset_begin_timestamp()">
    <input ng-model="begin_timestamp" type="hidden" value="">
    <br>
  </form>  
  <input title="Simple réflexion" class="category comment" ng-click="submit('comment')" type="submit" value="Envoyer le commentaire">
</div>
<div class="topcoat-list__container scroller">
    <ul class="topcoat-list list">
        <li ng-repeat="annotation in annotations | orderBy:'-begin'" class="topcoat-list__item">
          <span class="annotation-data">{{annotation.data}}</span>
          <span class="annotation-metadata">{{annotation.begin | date:'yyyy-MM-dd HH:mm:ss' }} @{{annotation.creator}}</span>
        </li>
    </ul>
</div>
