<div class="topcoat-navigation-bar">
  <div class="shortcutlinks">
    <div ng-repeat="k in shortcut_keys" class="shortcutlink category{{shortcut_keys.length}}" onclick="document.location = document.location+'/../'+this.dataset.shortcut" data-shortcut="{{ k }}">&nbsp;</div>
  </div>
    <div class="username">
      <input title="Cliquez ici et indiquez votre nom" onclick="this.select();" type="text" value="Anonyme" ng-model="username"></input><img alt="" src="../static/css/images/user.svg" width="13" height="13">
    </div>
    <div class="topcoat-navigation-bar__item center">
      <h1 class="topcoat-navigation-bar__title"><a href="..">Live Annotation</a></h1>
    </div>
</div>
<div class="entry-bar">
  <form ng-submit="submit()">
    <input ng-model="annotation" type="text" value="" placeholder="Entrez votre commentaire" class="topcoat-text-input--large" ng-keydown="reset_begin_timestamp()">
    <input ng-model="begin_timestamp" type="hidden" value="">
    <br>
  </form>
  <input ng-repeat="s in shortcuts"
         title="{{ s.tooltip || s.label }}"
         style="background-color: {{ s.color || '#ddd' }}"
         class="category category{{shortcuts.length}} {{ s.id }}"
         ng-click="submit('{{ s.id }}')"
         type="submit" value="{{ s.label }}">
</div>
<div class="topcoat-list__container scroller">
    <ul class="topcoat-list list">
        <li ng-repeat="annotation in annotations | orderBy:'-begin'" class="topcoat-list__item {{ annotation.category }}" ng-class="{'uploading': annotation.uploading}">
          <span class="annotation-data">{{annotation.data}}</span>
          <span class="annotation-metadata"><em>{{annotation.begin | date:'yyyy-MM-dd HH:mm:ss' }} @{{annotation.creator}}</em></span>
        </li>
    </ul>
</div>
