<!doctype html>
<html lang="en" ng-app="mla">
<head>
  <title>CominOpenCourseware Live Annotation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="../static/topcoat/css/topcoat-mobile-light.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>

<body data-group="{{ group }}">

  <div class="main" ng-view></div>

  <script src="../static/lib/angular.js"></script>
  <script src="../static/lib/angular-django-rest-resource.js"></script>
  <script src="../static/lib/angular-route.js"></script>
  <script src="../static/lib/angular-local-storage.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/controllers.js"></script>
  <script src="../static/js/memory-services.js"></script>
  <script src="../static/js/rest-services.js"></script>

</body>
</html>
