<!doctype html>
<html lang="en">
<head>
  <title>COCo Notes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/static/topcoat/css/topcoat-mobile-light.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center">
    <h1 class="topcoat-navigation-bar__title"><img id="logo" src="/static/img/logo_coconotes_live.svg" alt="COCo Notes Live"> - Bienvenue</h1>
  </div>
</div>

<div class="entry-bar">
  <p>Cette application permet à des groupes d'utilisateurs d'annoter
    de manière privée des événements <em>live</em>, en conservant les
    informations de synchronisation.<br/>  Elle est développée dans le
    cadre du <a href="http://comin-ocw.org/">projet COCo</a>. Pour
    plus d'informations,
    contactez <a href="mailto:communication@comin-ocw.org">communication@comin-ocw.org</a>.</p>
</div>
<div class="topcoat-list__container scroller">
    <ul class="topcoat-list list">
      <li class="topcoat-list__item"><a href="demo">Demo</a></li>
      <li class="topcoat-list__item"><a href="numaddict">Webinaire du MOOC @ddict </a></li>
    </ul>
</div>

</body>
</html>
